.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-top: 10px;
	margin-bottom: 0px;
}
.card-hotel{
	flex: 1 300px;
	margin: 5px;	
}
.card-hotel h2{
	font-size: 20px;
}
.btn-reserva{
	width: 100%;
	background-color: limegreen;
	color:white;
	border-radius:0px;
}
.btn-reserva:hover{
	background-color: lime;
}
.footer-address-icon{
	padding-right: 10px;
}