.jumbotron {
  color: black;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: #fffa19;
}
footer {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #06b500;
  color: white;
}
footer a {
  color: white;
}
.card-hotel {
  flex: 1 300px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: initial;
}
.card-hotel h2 {
  font-size: 20px;
}
.btn-reserva {
  width: 100%;
  background-color: #06b500;
  color: white;
  border-radius: 0px;
}
.btn-reserva:hover {
  background-color: #bd1919;
  color: white;
}
.footer-address-icon {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: initial;
}
