@yellow: #fffa19;
@red: #bd1919;
@green: #06b500;

.espaciados-colores(@m-top: 0px,@m-right: 0px,@m-bottom: 0px,@m-left: 0px,@p-top: 0px,@p-right: 0px,@p-bottom: 0px,@p-left: 0px,@bk:initial){
	margin-top:@m-top;
	margin-right: @m-right;
	margin-bottom:@m-bottom;
	margin-left: @m-left;
	padding-top: @p-top;
	padding-right: @p-right;
	padding-bottom: @p-bottom;
	padding-left: @p-left;
	background-color:@bk;
}

.jumbotron {
  color: black;
  .espaciados-colores(50px,0px,20px,0px,40px,40px,40px,40px,@yellow);
}

footer {
  .espaciados-colores(10px,0px,0px,0px,10px,10px,0px,10px,@green);
  color: white; }

footer a {
  color: white; }

.card-hotel {
  flex: 1 300px;
  .espaciados-colores(5px,5px,5px,5px,0px,0px,0px,0px,initial);
 }

.card-hotel h2 {
  font-size: 20px; }

.btn-reserva {
  width: 100%;
  background-color: @green;
  color: white;
  border-radius: 0px; }

.btn-reserva:hover {
  background-color: @red;
  color: white; }

.footer-address-icon {
  .espaciados-colores(0px,0px,0px,0px,0px,10px,0px,0px,initial);
 }
